<p style="font-weight: bold;">Yêu cầu đã quên mật khẩu</p>
<p>Nhấn vào đường link bên dưới để reset password</p>
<a href="{{ host }}?password_token={{ passwordToken }}&&email={{ email }}"> Nhấp vào đây </a>
<p>Mọi chi tiết thắc mắc, vui lòng liên hệ admin: <span
        style="font-weight: bold; color:red;">nttruongqn@gmail.com</span></p>