<p style="font-weight: bold;">Chúc mừng bạn đã đăng ký tài khoản thành công</p>
<p>Vui lòng nhấn vào đường link bên dưới để kích hoạt tài khoản</p>
<a href="{{ host }}/api/auths/email/verify/{{ token }}"> Nhấp vào đây </a>
<p>Mọi chi tiết thắc mắc, vui lòng liên hệ admin: <span
        style="font-weight: bold; color:red;">nttruongqn@gmail.com</span></p>