<p style="font-weight: bold;">Chúc mừng bạn đã đăng ký tài khoản thành công</p>
<p>Vui lòng đăng nhập với email và mật khẩu dưới đây</p>
<p>Email: <span style="font-weight: bold;"> {{ email }} </span> </p>
<p>Password: <span style="font-weight: bold;"> {{ password }} </span> </p>
<p>Mọi chi tiết thắc mắc, vui lòng liên hệ admin: <span style="font-weight: bold; color:red;">nttruongqn@gmail.com</span></p>